.Profile {
  position: relative;
  width: 200px;
  height: 270px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.Profile.hovering::after {
  box-shadow: inset 0px -81px 98px 0 rgba(0, 0, 0, 0.74);
}
.Profile::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-out;
  box-shadow: inset 0px -81px 98px 0 transparent;
}

.Profile .Details {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 3;
  padding: 15px;
  left: 0;
  right: 0;
  text-align: left;
  transform: translateY(100%);
  transition: all 0.3s ease-out;
}

.Profile.hovering .Details {
  transform: translateY(0%);
}

.Profile .Details h5 {
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

.Profile .Details ul.Roles {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}

.Profile .Details ul.Roles li {
  font-size: 12px;
  display: inline-block;
}

.Profile .Details ul.Roles li:not(:last-child):after {
  content: "";
  height: 5px;
  width: 5px;
  background-color: var(--accentColor);
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  border-radius: 100%;
}

.Profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
